RewriteEngine On

# Pass Authorization header to PHP
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Route all API requests to public/index.php
RewriteRule ^api/(.*)$ public/index.php [QSA,L]

# Default SuiteCRM rules
RewriteBase /
RewriteRule ^cache/jsLanguage/(.._..).js$ index.php?entryPoint=jslang&module=app_strings&lang=$1 [L,QSA]
RewriteRule ^cache/jsLanguage/(\w*)/(.._..).js$ index.php?entryPoint=jslang&module=$1&lang=$2 [L,QSA]
RewriteRule ^Api/(.*)$ - [L]
RewriteRule ^service/(.*)$ - [L]